[submodule "whole-program-llvm"]
	path = whole-program-llvm
	url = https://github.com/SRI-CSL/whole-program-llvm.git
[submodule "concurrency-exploits"]
	path = concurrency-exploits
	url = https://github.com/ruigulala/concurrency-exploits.git
[submodule "targets/linux"]
	path = targets/linux
	url = https://github.com/torvalds/linux.git
[submodule "memfuzz"]
	path = memfuzz
	url = https://github.com/SimonZsx/allocationcheck
